:root {
    --text-color: #f2f2f2; /* Text color for captions */
    --border-color: white; /* Border color for logos */
}

/* Ensure consistent box sizing */
* {
    box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}

/* Prevent scrollbars and maintain fixed width */
body {
    overflow: hidden; /* Hide scrollbars */
    margin: 0; /* Remove default margin */
}

/* Hide slides by default */
.mySlides {
    display: none; 
}

/* Container for slideshow picture content */
.slideshow-container {
    position: relative; 
    margin: auto; /* Center the slideshow container */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

/* Caption text and Number text */
.text, .numbertext {
    color: var(--text-color); 
    padding: 8px 12px; 
    position: absolute; 
}

.text {
    font-size: 1rem; 
    bottom: 8px; 
    width: 100%; 
    text-align: center; 
}

.numbertext {
    font-size: 0.75rem; 
    top: 0; 
    right: 16px;
}

/* Fading animation */
.fade {
    animation: fade 1.5s; /* Apply fade animation */
}

@keyframes fade {
    from {opacity: .4} /* Start with 40% opacity */
    to {opacity: 1} /* End with full opacity */
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 0.6875rem;} 
}

/* Title logo styles for 1024x768 resolution */
.titlelogo1024 {
    position: fixed; /* Fixed position for the title logo */
    top: 699px;
    left: 16px; 
    width: 335px; 
    height: 120px; 
    z-index: 2; /* Ensure it appears above other elements */
    border: 1px solid var(--border-color); /* Border around the title logo */
}

/* Logo styles */
.logo1024 {
    position: fixed; /* Fixed position for the logo */
    top: 739px;
    left: 928px;
    width: 80px;
    height: 80px;
}
